.flex_charts{
    display: flex;
    width: 100%;
    padding-left: 17px;
    padding-right: 17px;
}
.navbar .logo{
    font-size: 20px;
    font-weight: bolder;
    text-shadow: 2px #F5F7FB;
}
.flex_charts .contacts{
    width: 30%;
    position: relative;
}
.flex_charts .chartbody{
    width: 70%;
}
/* 282A37 */
#submitbtns{
    background-color: #F5F7FB;
    color: #F5F7FB !important;
}
#searchcont{
    border: none;
    border-radius: 25px;
    height: 50px;
    padding-left: 20px;
}
.chartbody button{
    height: 50px;
}
.chart_actions{
    width: 100%;
    text-align: right;
}
.addcontact{
    margin-top: 15px;
}
.addcontact button{
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 50%;
    font-size: 20px;
}
.addcontactforms{
    margin: 15px;
}
#username,#phone{
    border-color: #4E426D;
}
.contacts .titles{
    font-weight: bold;
    font-size: 18px;
}
.addcontactforms{
    position: absolute;
}
.chartscontents{
    background-color: #FFFFFF;
    height: 87vh;
    border-radius: 20px;
}
.chartbody{
    margin-left: 20px;
}
.btn{
    background-color: #4E426D !important;
    color: #FFFFFF !important;
}