<div class="body">
    <div class="container">
        <nav class="navbar">
            <div class="logo">ChatBot</div>
            <div class="logout"><button class="btn text-light shadow-none" id="submitbtns">Logout</button></div>
        </nav>
        <div class="flex_charts">
            <div class="contacts">
                <div class="titles text-center">Contacts</div>
                <div class="searchcontact">
                    <form action="" method="post">
                        <input type="search" name="searchcont" autocomplete="off" id="searchcont" class="form-control shadow-none" placeholder="Search contact">
                    </form>
                </div>
                <div class="addcontact">
                    <button class="btn shadow-none text-light" id="submitbtns" (click)="displayaddcontact()">&plus;</button>
                </div>
                <div class="addcontactforms" [style.display]="displays">
                    <form action="" method="post">
                        <div class="form-group">
                            <label for="username">Username.</label>
                            <input type="text" name="username" id="username" autocomplete="off" class="form-control shadow-none" placeholder="Enter name">
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone Number.</label>
                            <input type="tel" name="phone" id="phone" autocomplete="off" class="form-control shadow-none" placeholder="Enter phone number">
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save Number" class="btn text-light" id="submitbtns">
                        </div>
                    </form>
                </div>
            </div>
            <div class="chartbody">
               <div class="chartscontents">

               </div>
            </div>
        </div>
    </div>
</div>
