<div class="body">
    <div class="container">
        <nav class="navbar">
            <div class="logo">ChartBot</div>
            <div class="logout"><button class="btn text-light shadow-none" id="submitbtns">Logout</button></div>
        </nav>
        <div class="flex_charts">
            <div class="contacts">
                <div class="titles">Contacts</div>
                <div class="searchcontact">
                    <form action="" method="post">
                        <input type="search" name="searchcont" id="searchcont" class="form-control shadow-none" placeholder="Search contact">
                    </form>
                </div>
            </div>
            <div class="chartbody">
                Body
            </div>
        </div>
    </div>
</div>
