section{
    width: 30%;
    margin: auto;
}
h3{
    font-weight: bolder;
}
.fullbody{
    background-size: 100%, 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.flex_sections{
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.links a{
    font-weight: bold;
    color: #348AF0;
    text-decoration: none;
}
.form-control{
    background-color: inherit;
}
.btn{
    background-color: #4E426D !important;
    color: #FFFFFF !important;
    border: none !important;
}