/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
body{
    background-color: #F5F7FB;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #4E426D;
}